[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
gspread = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "*"
